{% extends 'base.html.twig' %}

{% block body %}
<div class="col-sm-3"> 
  <img src={{ avatar_url }} class="thumbnail img-responsive" alt="fuckface" />
   <h1>{{ name }}</h1>
   <h2>{{ login }}</h2>
   <ul class="list-unstyled">
   {# before we read array inside array {% for detail in details %}#}
       <li>{{ company }}</li>
       <li>{{ location }}</li>
       <li>{{ blog }}</li>       
   {#{% endfor %} #}
   </ul>
   <ul class="list-inline">
	{# before we read array inside array{% for key,value in socials %}#}
	     <li><span class="social-metric-count"> public_gists</span>
	     <br>
	      <span class="small muted">{{ public_gists }}</span></li>	
	     <li><span class="social-metric-count"> followers</span>
	     <br>
	      <span class="small muted">{{ followers }}</span></li>	
	     <li><span class="social-metric-count"> following</span>
	     <br>
	      <span class="small muted">{{ following }}</span></li>		      	      
   {#{% endfor %}#}   	     
   </ul>
</div>  

<div class="col-sm-9">
    susi
</div>
{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}
