{% extends 'base.html.twig' %}

{% block body %}
{% include "header.html.twig" %}
 
	<div class="jumbotron">
	  <h1>Symfony Doctrine</h1>
	  <p>Database Connectivite--Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</p>
						<div class="panel panel-default ">
								<div class="panel-heading">
									<h3 class="panel-title">
										 Select Your Database Action
									</h3>									
								</div>
 									 <nav class="collapse navbar-collapse" id=bs-navbar>
										<ul class="nav navbar-nav">
										  <li> <a href="{{path('insert')}}">Insert Data</a>
										  </li>					  
										  <li> <a href="{{ path('repos') }}">Retrieve Data</a>
										  </li>	
										  <li> <a href="{{ path('profile') }}">Change Data</a>
										  </li>		
										  <li> <a href="{{ path('database') }} ">Delete Data </a>
										  </li>		  
										</ul>
									  </nav>								 
						</div>		  
 	</div>
{% endblock %}


